@media screen and (min-width: 1200px) {
    .animated-galerija2-card1 {
        transform: translateX(500px);
        transition: 0.8s;
        //transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card2 {
        transform: translateX(250px);
        transition: 0.7s;
        //transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card3 {
        transform: translateX(-250px);
        transition: 0.7s;
        //transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card4 {
        transform: translateX(-500px);
        transition: 0.8s;
        //transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card5 {
        transform: translateX(500px);
        transition: 0.8s;
        //transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card6 {
        transform: translateX(500px);
        transition: 0.8s;
        //transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card7 {
        transform: translateX(250px);
        transition: 0.7s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card8 {
        transform: translateX(-250px);
        transition: 0.7s;
        transition-delay: 0.2s;
        opacity: 0;
    }
    .animated-galerija2-card9 {
        transform: translateX(-500px);
        transition: 0.8s;
        transition-delay: 0.2s;
        opacity: 0;
    } 

    .animated-galerija2-card10 {
        transform: translateX(500px);
        transition: 0.8s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card11 {
        transform: translateX(250px);
        transition: 0.7s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card12 {
        transform: translateX(-250px);
        transition: 0.7s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card13 {
        transform: translateX(-500px);
        transition: 0.8s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card14 {
        transform: translateX(500px);
        transition: 0.8s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card15 {
        transform: translateX(250px);
        transition: 0.7s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card16 {
        transform: translateX(-250px);
        transition: 0.7s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card17 {
        transform: translateX(-500px);
        transition: 0.8s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card18 {
        transform: translateX(500px);
        transition: 0.8s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    .animated-galerija2-card19 {
        transform: translateX(250px);
        transition: 0.7s;
        transition-delay: 0.3s;
        opacity: 0;
    }

    .animated-galerija2-card20 {
        transform: translateX(-250px);
        transition: 0.7s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card21 {
        transform: translateX(-500px);
        transition: 0.8s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card22 {
        transform: translateX(500px);
        transition: 0.8s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card23 {
        transform: translateX(250px);
        transition: 0.7s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card24 {
        transform: translateX(-250px);
        transition: 0.7s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card25 {
        transform: translateX(-500px);
        transition: 0.8s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card26 {
        transform: translateX(500px);
        transition: 0.8s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card27 {
        transform: translateX(250px);
        transition: 0.7s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card28 {
        transform: translateX(-250px);
        transition: 0.7s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card29 {
        transform: translateX(-500px);
        transition: 0.8s;
        transition-delay: 0.5s;
        opacity: 0;
    }

    .animated-galerija2-card1-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card2-fade {
        transform: translateX(0px);

        opacity: 1;
    }

    .animated-galerija2-card3-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card4-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card5-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card6-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card7-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card8-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card9-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card10-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card11-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card12-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card13-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card14-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card15-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card16-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card17-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card18-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card19-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card20-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card21-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card22-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card23-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card24-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card25-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card26-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card27-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card28-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card29-fade {
        transform: translateX(0px);
        opacity: 1;
    }

}

@media screen and (max-width: 1199px) {
    .animated-galerija2-card1 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card2 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card3 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card4 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card5 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card6 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card7 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card8 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }
    .animated-galerija2-card9 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    } 

    .animated-galerija2-card10 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card11 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card12 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card13 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card14 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card15 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card16 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card17 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card18 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card19 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card20 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card21 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card22 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card23 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card24 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card25 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card26 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }

    .animated-galerija2-card27 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card28 {
        transform: translateY(35px);
        transition: 0.6s;
        opacity: 0;
    }

    .animated-galerija2-card29 {
        transform: translateY(50px);
        transition: 0.8s;
        opacity: 0;
    }


    .animated-galerija2-card1-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card2-fade {
        transform: translateX(0px);

        opacity: 1;
    }

    .animated-galerija2-card3-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card4-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card5-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card6-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card7-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card8-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card9-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card10-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card11-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card12-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card13-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card14-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card15-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card16-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card17-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card18-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card19-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card20-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card21-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card22-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card23-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card24-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card25-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card26-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card27-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card28-fade {
        transform: translateX(0px);
        opacity: 1;
    }

    .animated-galerija2-card29-fade {
        transform: translateX(0px);
        opacity: 1;
    }
}

