@media screen and (min-width: 1200px) {
  .animated-galerija2-card1 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card2 {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    opacity: 0;
  }
  .animated-galerija2-card3 {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    opacity: 0;
  }
  .animated-galerija2-card4 {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card5 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card6 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card7 {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card8 {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card9 {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card10 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card11 {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card12 {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card13 {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card14 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card15 {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card16 {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card17 {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card18 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 0;
  }
  .animated-galerija2-card19 {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 0;
  }
  .animated-galerija2-card20 {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card21 {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card22 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card23 {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card24 {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card25 {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card26 {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card27 {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card28 {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card29 {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    opacity: 0;
  }
  .animated-galerija2-card1-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card2-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card3-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card4-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card5-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card6-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card7-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card8-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card9-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card10-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card11-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card12-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card13-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card14-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card15-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card16-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card17-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card18-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card19-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card20-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card21-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card22-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card23-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card24-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card25-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card26-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card27-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card28-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card29-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  .animated-galerija2-card1 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card2 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card3 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card4 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card5 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card6 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card7 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card8 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card9 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card10 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card11 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card12 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card13 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card14 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card15 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card16 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card17 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card18 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card19 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card20 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card21 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card22 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card23 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card24 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card25 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card26 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card27 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card28 {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .animated-galerija2-card29 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    opacity: 0;
  }
  .animated-galerija2-card1-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card2-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card3-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card4-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card5-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card6-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card7-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card8-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card9-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card10-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card11-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card12-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card13-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card14-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card15-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card16-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card17-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card18-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card19-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card20-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card21-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card22-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card23-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card24-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card25-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card26-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card27-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card28-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .animated-galerija2-card29-fade {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 1400px) {
  #galerija-wrapp {
    height: 500vh;
    width: 100%;
  }
  #galerija-gap {
    height: 8vh;
  }
  #galerija-content {
    height: 100%;
    width: 100%;
    background: #f9f9f9;
  }
  #galerija-container {
    height: 100%;
    width: 96%;
    margin-left: 2%;
  }
  #galerija-grid {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .galerija-grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card {
    z-index: 49;
    height: 85%;
    width: 85%;
    background: #fff;
    -webkit-box-shadow: 0 0 25px #777;
            box-shadow: 0 0 25px #777;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 340px;
  }
  .galerija-opis-card {
    height: 80%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-opis-card .galerija-opis-card-wrapp {
    height: 85%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galerija-opis-card .galerija-opis-card-wrapp div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .galerija-opis-card-block1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-heading-circle1 {
    height: 80px;
    width: 80px;
    background: #222;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
  .galerija-opis-card-block2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
    text-align: center;
  }
  .galerija-opis-card-block2 p {
    font-family: 'Pacifico', cursive;
  }
  .galerija-opis-card-block3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Pacifico', cursive;
  }
  /*

    .galerija-ucenik-card:hover {
        .galerija-ucenik-card-img {
            opacity: 0.28;
            transition: 0.4s;
        }

        .fade-txt {
            display: block;
            transition: 0.4s;
        }

        /*.fade-txt-wrapp {
            display: flex;
            transition: 0.4s;
        }
    }*/
  .fade-txt {
    color: #000;
    font-size: 24px;
    text-align: center;
    position: absolute;
    display: none;
    font-weight: bold;
  }
  .galerija-ucenik-card-img {
    width: 100%;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .galerija-ucenik-card-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 90%;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card-desc p {
    font-size: 24px;
  }
  /*
    .card-img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }*/
  #footer-galerija-gap {
    height: 5vh;
  }
}

@media screen and (max-width: 1399px) {
  #galerija-wrapp {
    height: 650vh;
    width: 100%;
  }
  #galerija-gap {
    height: 8vh;
  }
  #galerija-content {
    height: 650vh;
    width: 100%;
    background: #f9f9f9;
  }
  #galerija-container {
    height: 100%;
    width: 94%;
    margin-left: 3%;
  }
  #galerija-grid {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #grid-item2 {
    display: none;
  }
  .galerija-grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card {
    z-index: 49;
    height: 80%;
    width: 80%;
    background: #fff;
    -webkit-box-shadow: 0 0 25px #777;
            box-shadow: 0 0 25px #777;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 320px;
  }
  .galerija-opis-card {
    height: 80%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-opis-card .galerija-opis-card-wrapp {
    height: 80%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galerija-opis-card .galerija-opis-card-wrapp div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .galerija-opis-card-block1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-heading-circle1 {
    height: 80px;
    width: 80px;
    background: #222;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 22px;
  }
  .galerija-opis-card-block2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
    text-align: center;
  }
  .galerija-opis-card-block2 p {
    font-family: 'Pacifico', cursive;
  }
  .galerija-opis-card-block3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Pacifico', cursive;
  }
  /*

    .galerija-ucenik-card:hover {
        .galerija-ucenik-card-img {
            opacity: 0.28;
            transition: 0.4s;
        }

        .fade-txt {
            display: block;
            transition: 0.4s;
        }

        /*.fade-txt-wrapp {
            display: flex;
            transition: 0.4s;
        }
    }*/
  .fade-txt {
    color: #000;
    font-size: 24px;
    text-align: center;
    position: absolute;
    display: none;
    font-weight: bold;
  }
  .galerija-ucenik-card-img {
    width: 100%;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .galerija-ucenik-card-img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .galerija-ucenik-card-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 90%;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card-desc p {
    font-size: 24px;
  }
  #footer-galerija-gap {
    height: 5vh;
  }
}

@media screen and (max-width: 1050px) {
  #galerija-wrapp {
    height: 1000vh;
    width: 100%;
  }
  #grid-item1 {
    display: none;
  }
  #galerija-gap {
    height: 8vh;
  }
  #galerija-content {
    height: 1000vh;
    width: 100%;
    background: #f9f9f9;
  }
  #galerija-container {
    height: 100%;
    width: 94%;
    margin-left: 3%;
  }
  #galerija-grid {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #grid-item2 {
    display: none;
  }
  .galerija-grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card {
    z-index: 49;
    height: 80%;
    width: 80%;
    background: #fff;
    -webkit-box-shadow: 0 0 25px #777;
            box-shadow: 0 0 25px #777;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 320px;
  }
  .galerija-opis-card {
    height: 80%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-opis-card .galerija-opis-card-wrapp {
    height: 80%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galerija-opis-card .galerija-opis-card-wrapp div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .galerija-opis-card-block1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-heading-circle1 {
    height: 80px;
    width: 80px;
    background: #222;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 22px;
  }
  .galerija-opis-card-block2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 26px;
  }
  .galerija-opis-card-block3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 28px;
  }
  /*

    .galerija-ucenik-card:hover {
        .galerija-ucenik-card-img {
            opacity: 0.28;
            transition: 0.4s;
        }

        .fade-txt {
            display: block;
            transition: 0.4s;
        }

        /*.fade-txt-wrapp {
            display: flex;
            transition: 0.4s;
        }
    }*/
  .fade-txt {
    color: #000;
    font-size: 24px;
    text-align: center;
    position: absolute;
    display: none;
    font-weight: bold;
  }
  .galerija-ucenik-card-img {
    width: 100%;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .galerija-ucenik-card-img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .galerija-ucenik-card-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 90%;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card-desc p {
    font-size: 24px;
  }
  #footer-galerija-gap {
    height: 5vh;
  }
}

@media screen and (max-width: 720px) {
  #galerija-wrapp {
    height: 1900vh;
    width: 100%;
  }
  #grid-item1 {
    display: none;
  }
  #galerija-gap {
    height: 8vh;
  }
  #galerija-content {
    height: 2000vh;
    width: 100%;
    background: #f9f9f9;
  }
  #galerija-container {
    height: 100%;
    width: 94%;
    margin-left: 3%;
  }
  #galerija-grid {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #grid-item2 {
    display: none;
  }
  .galerija-grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card {
    z-index: 49;
    height: 80%;
    width: 60%;
    background: #fff;
    -webkit-box-shadow: 0 0 25px #777;
            box-shadow: 0 0 25px #777;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 380px;
  }
  .galerija-opis-card {
    height: 80%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-opis-card .galerija-opis-card-wrapp {
    height: 80%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galerija-opis-card .galerija-opis-card-wrapp div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .galerija-opis-card-block1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-heading-circle1 {
    height: 80px;
    width: 80px;
    background: #222;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 22px;
  }
  .galerija-opis-card-block2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 34px;
    text-align: center;
  }
  .galerija-opis-card-block3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 34px;
  }
  /*

    .galerija-ucenik-card:hover {
        .galerija-ucenik-card-img {
            opacity: 0.28;
            transition: 0.4s;
        }

        .fade-txt {
            display: block;
            transition: 0.4s;
        }

        /*.fade-txt-wrapp {
            display: flex;
            transition: 0.4s;
        }
    }*/
  .fade-txt {
    color: #000;
    font-size: 24px;
    text-align: center;
    position: absolute;
    display: none;
    font-weight: bold;
  }
  .galerija-ucenik-card-img {
    width: 100%;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .galerija-ucenik-card-img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .galerija-ucenik-card-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 90%;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card-desc p {
    font-size: 24px;
  }
  #footer-galerija-gap {
    height: 5vh;
  }
}

@media screen and (max-width: 480px) {
  #galerija-wrapp {
    height: 2700vh;
    width: 100%;
  }
  #grid-item1 {
    display: none;
  }
  #galerija-gap {
    height: 8vh;
  }
  #galerija-content {
    height: 2700vh;
    width: 100%;
    background: #f9f9f9;
  }
  #galerija-container {
    height: 100%;
    width: 98%;
    margin-left: 1%;
  }
  #galerija-grid {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #grid-item2 {
    display: none;
  }
  .galerija-grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card {
    z-index: 49;
    height: 80%;
    width: 90%;
    background: #fff;
    -webkit-box-shadow: 0 0 25px #777;
            box-shadow: 0 0 25px #777;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 320px;
  }
  .galerija-opis-card {
    height: 80%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-opis-card .galerija-opis-card-wrapp {
    height: 80%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galerija-opis-card .galerija-opis-card-wrapp div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .galerija-opis-card-block1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-heading-circle1 {
    height: 80px;
    width: 80px;
    background: #222;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
  .galerija-opis-card-block2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
    text-align: center;
  }
  .galerija-opis-card-block3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 32px;
  }
  /*

    .galerija-ucenik-card:hover {
        .galerija-ucenik-card-img {
            opacity: 0.28;
            transition: 0.4s;
        }

        .fade-txt {
            display: block;
            transition: 0.4s;
        }

        /*.fade-txt-wrapp {
            display: flex;
            transition: 0.4s;
        }
    }*/
  .fade-txt {
    color: #000;
    font-size: 24px;
    text-align: center;
    position: absolute;
    display: none;
    font-weight: bold;
  }
  .galerija-ucenik-card-img {
    width: 100%;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .galerija-ucenik-card-img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .galerija-ucenik-card-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 90%;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galerija-ucenik-card-desc p {
    font-size: 24px;
  }
  #footer-galerija-gap {
    height: 5vh;
  }
}

#card-img-1 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Nastavnica Tanja.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#card-img-2 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Luka.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#card-img-3 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/milan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-4 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Iva.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-5 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Katarina Bjeljac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-6 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Branko.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-7 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Vladimir.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-8 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Aleksa Vujanovic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#card-img-9 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Lana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#card-img-10 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Marko Gotovac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#card-img-11 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Zorana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-12 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Tamara.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-13 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Kristijan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#card-img-14 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Borisa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-15 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Jovan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#card-img-16 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Sofia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#card-img-17 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Anastasija Ljubotina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-18 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Aleksa Maletic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-19 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Matija.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-20 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-21 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Mila.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-22 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Teodor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#card-img-23 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Partalo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-24 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Petkovic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-25 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Stefan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-26 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Nadja.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#card-img-27 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Smiljanic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#card-img-28 {
  height: 100%;
  width: 100%;
  background: url("/static/assets/IX2/Matej.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=galerija1.css.map */